body {
    font-family: sans-serif;
   }
   .container {
     width: 100%;
     max-width: 960px;
     margin: 0 auto;
   }
   header {
     background-color: #000;
     color: #aca2a2;
     padding: 1rem;
   }
   header a {
     color: #c0b0b0;
   }
   header img {
     width: 150px;
     margin-bottom: 1rem;
   }
   nav {
     list-style: none;
     padding: 0;
     margin: 0;
   }
   nav li {
     display: inline-block;
     margin-right: 1rem;
   }
   nav a {
     color: #b3a7a7;
     text-decoration: none;
   }
   nav a:hover {
     color: #a39b9b;
   }
   nav1{
    float:right;

   }
   main {
     padding: 1rem;
   }
   section {
     margin-bottom: 1rem;
   }
   h1 {
     font-size: 1.5rem;
     margin-bottom: 0.5rem;
   }
   ul {
     list-style: none;
     padding: 0;
     margin: 0;
   }
   li {
     margin-bottom: 0.5rem;
   }
   form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px;
  }
  
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

   
   footer {
     background-color: #000;
     color: #6d6565;
     padding: 1rem;
     text-align: center;
   }